.container {
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

.login__container {
	width: 300px;
	background-color: #fdf4f4;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 20px;
	border-radius: 8px;
	box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.3);
}

.login__container > input {
	margin: 10px 5px;
	padding: 10px;
	border-radius: 10px;
	border: 2px solid #ffcece;
	outline: none;
}

.login__container > button {
	margin: 10px 5px;
	padding: 12px;
	border-radius: 10px;
	border: none;
	background-color: #9b7474;
	color: #fff;
	outline: none;
	cursor: pointer;
	transition: all 0.2s ease-in-out;
}

.login__container > button:hover {
	transform: scale(1.1);
}
